@charset "UTF-8";
@import "./reset.scss";

$textColor: #1F1414;
$bgColor: #DEE2E2;
$grey: #C6CACA;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #BCBFBF;
}

.phone {
  width: 480px;
  height: 900px;
  border-radius: 10px;
  background-color: $bgColor;
  box-shadow: 5px 10px 10px rgba($color: #000000, $alpha: 0.5);
}

.header {
  padding: 50px 15px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $grey;

  .header__title {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.total {
  background-color: $textColor;
  padding: 30px 15px;
  color: $bgColor;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  gap: 5px;

  .total__price {
    font-size: 22px;
  }

  .total__subtitle {
    font-size: 14px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $grey;

  .item {
    position: relative;
    border-top: 4px solid $textColor;
    background-color: $bgColor;

    .item__info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      padding: 30px 15px;

      .item__info-col {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        gap: 5px;

        &:nth-child(2) {
          align-items: flex-end;
        }
      }

      .item__title {
        font-size: 42px;
      }

      .item__subtitle {
        font-size: 18px;
      }

      .item__total-price {
        font-size: 32px;
      }

      .item__piece-price {
        font-size: 18px;
      }
    }
  }
}

.item__specs {
  border-top: 4px solid $textColor;
  border-bottom: 4px solid $textColor;
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);

  .spec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    font-weight: bold;

    &:last-child {
      border-left: 4px solid $textColor;
    }
  }
}

.item__photo {
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 35%;
  height: 60%;
  border: 4px solid $textColor;
  object-fit: cover;
}